.textField {
  width: 100%;
  border-bottom: 1px solid #DAD2E3;
  padding-bottom: 17px;
  font-family: 'Red Hat Display';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media(min-width: 768px) {
    font-size: 20px;
  }

    &::placeholder {
      color: #A8A0B0;
    }
  
    &:not(:first-child) {
      margin-top: 45px;
    }
}