p, body {
  margin: 0;
}

input {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  font-family: initial;
  font-size: initial;
  font-weight: initial;
  font-style: initial;
  line-height: initial;
  text-align: initial;
  color: initial;
  cursor: initial;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  font-family: initial;
  font-size: initial;
  font-weight: initial;
  font-style: initial;
  line-height: initial;
  color: initial;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}