.footer {
  margin-top: 100px;
}

.footer__text {
  color: #21232D;
  text-align: center;
  font-family: 'Red Hat Display';
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media(min-width: 768px) {
    font-size: 36px;
  }
}

.footer__logos {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 30px;
}